/* css */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,a,
del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,
hgroup,menu,nav,section,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	line-height: 1.5;
	background: transparent;
	font-family: 'Hiragino Kaku Gothic Pro', Meiryo, sans-serif;
}
html {
	font-size: 62.5%;
}
body {
	line-height: 1;
	font-size: 1.6rem;
}
img {
	line-height: 0;
	vertical-align: bottom;
	width: 100%;
}
article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display: block;
}
nav ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
.flex {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: normal;
	align-items: normal;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

