/* contents ------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, a, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
}
* {
	font-size: 1.4rem;
	letter-spacing: .1rem;
	font-weight: normal;
	color: #000;
}
body {
	position: relative;
	background: linear-gradient(45deg, #dedede, #f5f5f5);
	text-align: center;
	min-height: 100vh;
	padding: 2rem;
}


/* wrap -------------------*/
.wrap {
	position: relative;
	background: #fff;
	border-radius: 1rem;
	margin: 0 auto;
	width: 100%;
	max-width: 400px;
	min-height: 90vh;
	box-shadow: 5px 5px 10px 0 rgba(0,0,0,.1);
	overflow: hidden;
}
#loading {
	display: block;
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	background-color: #fff;
	padding-top: 35vh;
	height: 100%;
	z-index: 99;
}
#loading.dnone {
	display: none;
}
#loading img {
	width: auto;

}



/* header -------------------*/
header {
	position: relative;
	background: #00a3aa;
	height: 70px;
}
h1 {
	width: 100%;
	font-size: 2.5rem;
	line-height: 72px;
	font-weight: bold;
	color: #fff;
	user-select: none;
}
header img {
	position: absolute;
	width: 110px;
	bottom: -11px;
	left: 0;
}


/* main -------------------*/
main {
	padding: 3.5rem 2rem;
}
#place p span {
	position: relative;
	background: #e7f3f3;
	color: #078388;
	padding: .7rem 1.5rem;
	border-radius: .5rem;
	font-size: 1.2rem;
	user-select: none;
}
#place p span::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	border: .7rem solid transparent;
	border-top-color: #e7f3f3;
}
#place h2 {
	padding: 1rem;
	margin: 1rem 0 0;
	border-radius: .2rem;
	cursor: pointer;
	font-weight: bold;
	user-select: none;
}
#place h2 span {
	font-size: 2rem;
	background: url(../img/icon_change.png) no-repeat center right;
	padding: 0 2.3rem 0 2rem;
	font-weight: bold;
}
#place h2:hover {
	opacity: .7;
	text-decoration: underline;
}
#weather > .icon {
	margin: 0 2rem 2rem;
}
#now .temp {
	margin-left: 1rem;
}
#forecast {
	border-collapse: collapse;
	width: 100%;
}
#forecast th, #forecast td {
	padding: 1rem;
	vertical-align: middle;
}
#forecast tr {
	background: #f5f5f5;
	border-bottom: 2px solid #fff;
}
#forecast .info {
	font-size: 1.3rem;
	color: #555;
}
#forecast img {
	width: 5rem;
}
.temp {
	display: inline-block;
	padding-left: 24px;
	background: url(../img/thermometer.svg) 0 center no-repeat;
	background-size: 24px 24px;
	min-height: 24px;
}



/* footer -------------------*/
footer {
	margin-top: 2rem;
}
small {
	font-size: 1rem;
}



/* overflow -------------------*/
#overflow {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
}
#overflow.hidden {
	display: none;
}
#overflow_wrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.6);
}
#overflow_inner {
	position: relative;
	width: 90%;
	max-width: 1000px;
	max-height: calc(100% - 6rem);
	overflow-y: auto;
	margin: 3rem auto 0;
	margin: 50vh auto 0;
	transform: translateY(-60%);
	z-index: 100;
}
#overflow_inner > div {
	background: #fff;
	border-radius: 1rem;
	max-width: 450px;
	margin: auto;
	overflow: hidden;
}
#overflow_inner h3 {
	position: relative;
	width: 100%;
	background: #00a3aa;
	font-size: 1.8rem;
	color: #fff;
	height: 50px;
	line-height: 52px;
}
#overflow_close {
	content: "";
	position: absolute;
	top: 12.5px;
	right: 15px;
	background: url(../img/icon_close.png) no-repeat center;
	width: 25px;
	height: 25px;
	cursor: pointer;
}
.of_text {
	padding: 2rem 2rem 2.5rem;
}
.of_text p.exam {
	font-size: 1.2rem;
	color: #555;
	margin-top: .5rem;
}
#overflow_inner form {
	margin-top: 1.2rem;
}
#overflow_inner input[type="text"] {
	padding: .5rem;
	border: 1px solid #999;
	border-radius: .3rem;
	font-size: 1.4rem;
}
#overflow_inner input[type="button"] {
	background: #00a3aa;
	border: none;
	color: #fff;
	font-size: 1.3rem;
	padding: .6rem 1rem .4rem;
	cursor: pointer;
	border-radius: .3rem;
	margin-left: 1px;
}
#overflow_inner input[type="button"]:active {
	background: #006165;
}
#overflow_inner input:focus {
	outline: none;
}